img{
    width: 100%;
    border: 4px solid black;
    border-radius: 5%;
}

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(118, 118, 118);
    text-align: center;
    max-width: 800px;
    margin: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%
}

h1{
    text-transform: uppercase;
}

h2{
    background-color: rgb(53, 51, 51);
}

p{
    color: black;
    text-align: justify;
}

section{
    border: 3px solid black;
    padding: 15px;
    margin: 15px;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(53, 51, 51);
    gap: 10px;
}

nav a{
    border: 2px solid white;
    border-radius: 5%;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}

article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 770px) {
    article {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px) {
    article {
        grid-template-columns: 1fr;
    }
}
